%header.Top
  = render "layouts/header"

.Main
  .Menu.container
    .Menu__header
      %h4 Menu
    .Menu__contents
      - @menus.each do |menu|
        .Menubox
          .Menubox__left
            .Menubox__left--name
              = menu.name
            .Menubox__left--category
              - menu.categories.each do |category|
                = category.name
          .Menubox__right
            = "¥#{menu.price.to_s(:delimited)}(税別)"

  .Stylist.container
    .Stylist__header
      %h4 Stylist
    .Stylist__contents
      - @stylists.each do |stylist|
        .Stylist__contents--item
          .Item__image
            - if stylist.image?
              = image_tag stylist.image.url
            - else
              = image_tag "/assets/default.jpg"
          .Item__name
            = stylist.name
          .Item__position
            = stylist.position

  .Gallery.container
    .Gallery__header
      %h4 Gallery
    .Gallery__contents
      .Gallery__contents--item
        - @galleries.each do |gallery|
          = image_tag gallery.image.url

  .NewsReservation.container
    .News
      .News__header
        %h4 News
      .News__contents
        -# モデル作成する
        .News__contents--item
          .Item__content
            ネット予約はじめました!!
            %br/
            = "今ならネット予約すると合計金額から#{(@discount * 100).ceil}%OFF!!!"
          .Item__date
            = Date.today

    .Reservation
      .Reservation__header
        %h4 Reservation
      .Reservation__contents
        -# ボタンデザインどうにかする
        = link_to "tel:#{@info.tel}", class: "Reservation__contents--Btn" do
          電話予約
        = link_to new_reservation_path, class: "Reservation__contents--Btn" do
          ネット予約
      .Reservation__modal

  .Acsess
    .Acsess__header.container
      %h4 Acsess
    .Acsess__contents
      .Acsess__contents--gmap
        %iframe{allowfullscreen:  "", "aria-hidden":  "false", frameborder:  "0", src:  "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253.12156102741477!2d130.40463813792647!3d33.59299571672284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191939de371fd%3A0x14345bbecd3ed14c!2z44CSODEwLTA4MDEg56aP5bKh55yM56aP5bKh5biC5Y2a5aSa5Yy65Lit5rSy77yU5LiB55uu77yW4oiS77yR77ySIOODl-ODqeODvOODiOS4rea0sg!5e0!3m2!1sja!2sjp!4v1596172776972!5m2!1sja!2sjp", style:  "border:0;", tabindex:  "0", width: "100%", height: "100%"}
%footer
  = render "layouts/footer"
