%header
  = render "layouts/management-header"
.Main
  .list-group.container
    .list-group-item.list-group-item-action.list-group-item-secondary.index
      %h2 管理一覧
    = link_to edit_info_path(@info), class: "list-group-item list-group-item-action" do
      店舗情報
    = link_to edit_calculation_path(@calculation), class: "list-group-item list-group-item-action" do
      消費税率・値引率
    = link_to galleries_path, class: "list-group-item list-group-item-action" do
      Galleries
    = link_to stylists_path, class: "list-group-item list-group-item-action" do
      スタイリスト
    = link_to menus_path, class: "list-group-item list-group-item-action" do
      メニュー
    = link_to menus_path, class: "list-group-item list-group-item-action" do
      予約一覧
























-# .Main
-#   .Main__card
-#     = link_to edit_info_path(@info), class: "Card" do
-#       = image_tag '/images/noselect.jpg'
-#       .Card__Text
-#         %p 店舗情報
-#   .Main__card
-#     = link_to edit_calculation_path(@calculation), class: "Card" do
-#       = image_tag '/images/sample.jpg'
-#       .Card__Text
-#         %p 消費税率・値引率
-#   .Main__card
-#     = link_to galleries_path, class: "Card" do
-#       = image_tag '/images/sample.jpg'
-#       .Card__Text
-#         %p Gallery
-#   -# .Main__card
-#   -#   = link_to "#", class: "Card" do
-#   -#     / linkを訂正する
-#   -#     = image_tag '/images/sample.jpg'
-#   -#     .Card__Text
-#   -#       %p User
-#   .Main__card
-#     = link_to stylists_path, class: "Card" do
-#       = image_tag '/images/sample.jpg'
-#       .Card__Text
-#         %p Stylist
-#   .Main__card
-#     = link_to menus_path, class: "Card" do
-#       = image_tag '/images/sample.jpg'
-#       .Card__Text
-#         %p Menu
-#   -# .Main__card
-#   -#   = link_to categories_path, class: "Card" do
-#   -#     = image_tag '/images/sample.jpg'
-#   -#     .Card__Text
-#   -#       %p category
-#   .Main__card
-#     = link_to reservations_path, class: "Card" do
-#       = image_tag '/images/sample.jpg'
-#       .Card__Text
-#         %p reservations
