.Calendar
  %table
    %tbody

      %tr.TableHeader
        %th.Time 時間
        - 7.times do |i|
          %th{class: "#{@week.days_since(i).strftime("%a")}"}
            = @today.days_since(i).strftime("%m/%d (%a)")

      %tr
        %th.Time
          10:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "10:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr.Color
        %th.Time
          11:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "11:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr
        %th.Time
          12:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "12:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr.Color
        %th.Time
          13:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "13:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr
        %th.Time
          14:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "14:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr.Color
        %th.Time
          15:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "15:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr
        %th.Time
          16:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "16:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(1).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr.Color
        %th.Time
          17:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "17:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr
        %th.Time
          18:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "18:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")

      %tr.Color.NineTeeen
        %th.Time
          19:00
        - 7.times do |i|
          %td{class: "#{@week.days_since(i).strftime("%a")} Calendar__select"}
            = radio_button_tag "reservation[time]", "19:00"
            = radio_button_tag  "reservation[date]", "#{@date.days_since(i).strftime("%F")}"
            .Status
              %span.Status__value
              %span.check
                = icon("far", "check-square")
