.footer
  %nav.footer__nav
    .footer__nav--list
      %ul
        %li
          = @info.code
        %li
          = @info.address
        %li
          = link_to "tel:#{@info.tel}" do
            = icon("fas", "phone-square-alt")
            = @phone
        %li
          = @info.weekday
        %li
          = @info.weekend
        %li
          = @info.holiday
