.Header
  .Header__Container
    .Header__Container--Title
      .outLine
        Hair salon
    %ul.Header__Container--List#List
      %li.Link#Top
        = link_to root_path  do
          Top
      %li.Link#Menu
        = link_to "#" do
          Menu
      %li.Link#Stylist
        = link_to "#" do
          Stylsit
      %li.Link#News
        = link_to "#" do
          News
      %li.Link#Reserv
        = link_to new_reservation_path  do
          Resevation
      %li.Link#Acsess
        = link_to "#"  do
          Acsess
      %li.Link#Sns
        = link_to "#"  do
          = icon("fab", "instagram", class: "instagram")
