%ul.Header__Container--List#LIST
  %li.Link#Top
    = link_to root_path  do
      Top
  %li.Link.STYLLIST
    = link_to "#" do
      Stylist
  %li.Link.MENU
    = link_to "#"  do
      Menu
  %li.Link.DATE
    = link_to "#" do
      Date
  %li.Link.USER
    = link_to "#"  do
      User
